# Dart/Pub
.dart_tool/
.packages
.pub/
build/
*.lock
*.log

# Flutter
**/android/app/debug/**
**/android/app/profile/**
**/android/app/release/**
**/android/app/intermediates/**
**/android/app/.cxx/**
**/android/app/build/**
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/ephemeral/
lib/generated_plugin_registrant.dart

# IDE Specific
.vscode/
.idea/
*.iml

# Ignore APKs and AAB bundles
*.apk
*.aab
android/app/build/
android/app/outputs/
